Flask==2.1.1                 # Web framework for building the backend
tensorflow==2.9.1            # Machine learning framework for model handling
numpy==1.23.0                # Essential for numerical operations and data handling
Pillow==9.1.1                # Image processing library (for handling satellite images)
google-auth==2.6.6           # For authentication with Google APIs
google-auth-oauthlib==0.5.2  # OAuth 2.0 for Google API
google-auth-httplib2==0.1.0  # HTTP client for Google API
google-api-python-client==2.45.0  # Google Earth Engine API client
python-dotenv==0.20.0        # For loading environment variables from .env file
requests==2.28.1             # For making HTTP requests to the backend API
